<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @airplane.reference %>
</p>

<p>
  <strong>Count:</strong>
  <%= @airplane.count %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
