<h1>Buen Día</h1>
<p>Un usuario ah enviado la siguiente informacion</p>
<p>Asunto: <%= @subject %></p>
<p>Nombre: <%= @name %></p>
<p>Apellido: <%= @lastname %></p>
<p>Email: <%= @email %></p>
<p>Fecha: <%= @date %></p>
<p>Sexo: <%= @sex %></p>
<p>Lenguaje: <%= @language %></p>
<p>Experiencia: <%= @experience %></p>

<p>Quedo Atento!</p>