<em><h1 align="center">REGISTRO DE VUELOS</h1></em><br>
<%= link_to "AVION" " -", new_airplane_path%>
<%= link_to "CIUDAD" " -", new_city_path%>
<%= link_to "VUELO" " -", new_flight_path%>
<%= link_to "VUELO DE PASAGERO" " -", new_flights_passenger_path%>
<%= link_to "PASAGERO" " -", new_passenger_path%>
<%= link_to "PILOTO" " -", new_pilot_path%>
<%= link_to "RUTA", new_route_path%>