<p id="notice"><%= notice %></p>

<p>
  <strong>Id team:</strong>
  <%= @team.id_team %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @team.champion %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
