<p id="notice"><%= notice %></p>

<h2>
  <%= @post.title %>
</h2>
<%= image_tag @post.image %>

<p>
  <%= @post.body %>
</p>

<p>
  by <%= @post.user.name %>
  <%= image_tag @post.user.photo.thumb %>
</p>
<% if can? :manage, @post %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
<% end %>