<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @factura.Nombres %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @factura.Apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @factura.Cedula %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @factura.Producto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @factura.Precio %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @factura.Iva %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @factura.Descuento %>
</p>

<p>
  <strong>Date:</strong>
  <%= @factura.Date %>
</p>


<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
