<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pilot.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @pilot.lastname %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
