<p id="notice"><%= notice %></p>

<p>
  <strong>Id player:</strong>
  <%= @player.id_player %>
</p>

<p>
  <strong>Id team:</strong>
  <%= @player.id_team %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @player.city %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
