<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @flights_passenger.flight_id %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @flights_passenger.passenger_id %>
</p>

<%= link_to 'Edit', edit_flights_passenger_path(@flights_passenger) %> |
<%= link_to 'Back', flights_passengers_path %>
