<p id="notice"><%= notice %></p>

<h1>Listing User Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_blogs.each do |user_blog| %>
      <tr>
        <td><%= user_blog.document %></td>
        <td><%= user_blog.name %></td>
        <td><%= user_blog.lastname %></td>
        <td><%= user_blog.phone %></td>
        <td><%= user_blog.email %></td>
        <td><%= link_to 'Show', user_blog %></td>
        <td><%= link_to 'Edit', edit_user_blog_path(user_blog) %></td>
        <td><%= link_to 'Destroy', user_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User blog', new_user_blog_path %>
