<%= form_for(@flights_passenger) do |f| %>
  <% if @flights_passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flights_passenger.errors.count, "error") %> prohibited this flights_passenger from being saved:</h2>

      <ul>
      <% @flights_passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flight_id %><br>
    <%= f.number_field :flight_id %>
  </div>
  <div class="field">
    <%= f.label :passenger_id %><br>
    <%= f.number_field :passenger_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
