<p id="notice"><%= notice %></p>

<h1>Listing Flights Passengers</h1>

<table>
  <thead>
    <tr>
      <th>Flight</th>
      <th>Passenger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights_passengers.each do |flights_passenger| %>
      <tr>
        <td><%= flights_passenger.flight_id %></td>
        <td><%= flights_passenger.passenger_id %></td>
        <td><%= link_to 'Show', flights_passenger %></td>
        <td><%= link_to 'Edit', edit_flights_passenger_path(flights_passenger) %></td>
        <td><%= link_to 'Destroy', flights_passenger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flights passenger', new_flights_passenger_path %>
