<p id="notice"><%= notice %></p>

<h1>Listing Class X Students</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_x_students.each do |class_x_student| %>
      <tr>
        <td><%= class_x_student.class_id %></td>
        <td><%= class_x_student.student_id %></td>
        <td><%= link_to 'Show', class_x_student %></td>
        <td><%= link_to 'Edit', edit_class_x_student_path(class_x_student) %></td>
        <td><%= link_to 'Destroy', class_x_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class x student', new_class_x_student_path %>
