<%= form_for(@class_x_student) do |f| %>
  <% if @class_x_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_x_student.errors.count, "error") %> prohibited this class_x_student from being saved:</h2>

      <ul>
      <% @class_x_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_id %><br>
    <%= f.number_field :class_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
