<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @class_x_student.class_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @class_x_student.student_id %>
</p>

<%= link_to 'Edit', edit_class_x_student_path(@class_x_student) %> |
<%= link_to 'Back', class_x_students_path %>
