<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br>
    <%= f.number_field :reference %>
  </div>
  <div class="field">
    <%= f.label :productType %><br>
    <%= f.text_field :productType %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :purchaseDate %><br>
    <%= f.date_select :purchaseDate %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.text_field :warranty %>
  </div>
  <div class="field">
    <%= f.label :idClassroom %><br>
    <%= f.number_field :idClassroom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
