<p id="notice"><%= notice %></p>

<h1>Listing Clashes</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clashes.each do |clash| %>
      <tr>
        <td><%= clash.match_id %></td>
        <td><%= clash.team_id %></td>
        <td><%= link_to 'Show', clash %></td>
        <td><%= link_to 'Edit', edit_clash_path(clash) %></td>
        <td><%= link_to 'Destroy', clash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clash', new_clash_path %>
