<h1>Ingrese Mascota</h1>

<%= form_for @pet do |t| %>
	<p>
		<%= t.label :name, "Nombre De La Mascota" %>
		<%= t.text_field :name %>
	</p>

	<p>
		<%= t.label :type_of_pet, "Tipo De Mascota" %>
		<%= t.text_field :type_of_pet %>
	</p>

	<p>
		<%= t.label :age, "Edad" %>
		<%= t.text_field :age %>
	</p>

	<p>
		<%= t.submit %>
	</p>
<% end %>
