<h1>Ingrese Mascota</h1>

<%= form_for @pet do |t| %>
	<p>
<<<<<<< HEAD
		<%= t.label :name, "Nombre De La Mascota" %><br>
=======
		<%= t.label :name, "Nombre De La Mascota" %>
>>>>>>> 5bdca36ffd0b9475c0a8539ca041914f981ae0e6
		<%= t.text_field :name %>
	</p>

	<p>
<<<<<<< HEAD
		<%= t.label :type_of_pet, "Tipo De Mascota" %><br>
=======
		<%= t.label :type_of_pet, "Tipo De Mascota" %>
>>>>>>> 5bdca36ffd0b9475c0a8539ca041914f981ae0e6
		<%= t.text_field :type_of_pet %>
	</p>

	<p>
<<<<<<< HEAD
		<%= t.label :age, "Edad En Años" %><br>
=======
		<%= t.label :age, "Edad" %>
>>>>>>> 5bdca36ffd0b9475c0a8539ca041914f981ae0e6
		<%= t.text_field :age %>
	</p>

	<p>
<<<<<<< HEAD
		<%= t.submit "Enviar" %>
=======
		<%= t.submit %>
>>>>>>> 5bdca36ffd0b9475c0a8539ca041914f981ae0e6
	</p>
<% end %>
