<h1>Editar Datos</h1>

<%= form_for @vet do |t| %>
  <p>
    <%= t.label :name, "Nombre Del Veterinario" %><br>
    <%= t.text_field :name %>
  </p>

  <p>
    <%= t.label :lastname, "Apellido Del Veterinario" %><br>
    <%= t.text_field :lastname %>
  </p>

  <p>
    <%= t.label :turno, "Turno" %><br>
    <%= t.text_field :turno %>
  </p>

  <p>
    <%= t.submit "Editar Datos" %>
  </p>
<% end %>
