<<<<<<< HEAD
<h1>Nueva Cita</h1>

<%= form_for @vet do |t| %>
  <p>
    <%= t.label :name, "Nombre Del Dueño" %><br>
    <%= t.text_field :name %>
  </p>

  <p>
    <%= t.label :lastname, "Apellido" %><br>
    <%= t.text_field :lastname %>
  </p>

  <p>
    <%= t.label :turno, "Turno" %><br>
    <%= t.text_field :turno %>
  </p>

  <p>
    <%= t.submit "Registrar Cita" %>
  </p>
<% end %>
=======
<h1>Vets#new</h1>
<p>Find me in app/views/vets/new.html.erb</p>
>>>>>>> 5bdca36ffd0b9475c0a8539ca041914f981ae0e6
