<p id="notice"><%= notice %></p>

<h1>Listing Team Matches</h1>

<table>
  <thead>
    <tr>
      <th>Id match</th>
      <th>Id team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_matches.each do |team_match| %>
      <tr>
        <td><%= team_match.id_match %></td>
        <td><%= team_match.id_team %></td>
        <td><%= link_to 'Show', team_match %></td>
        <td><%= link_to 'Edit', edit_team_match_path(team_match) %></td>
        <td><%= link_to 'Destroy', team_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team match', new_team_match_path %>
