<p id="notice"><%= notice %></p>

<p>
  <strong>Id match:</strong>
  <%= @team_match.id_match %>
</p>

<p>
  <strong>Id team:</strong>
  <%= @team_match.id_team %>
</p>

<%= link_to 'Edit', edit_team_match_path(@team_match) %> |
<%= link_to 'Back', team_matches_path %>
