 <h1>Sistema de registro de torres</h1>
 
  <!-- Table -->
  <table >
      <tr>
    <th> Apartamento</th>
    <th> Torre </th>
   
  </tr>
 
 <% @tower.apartments.each do |apartment| %>
    <tr>
      <td><%= apartment.name %></td>
      <td><%= apartment.tower_id %></td>
      <td><%= link_to "Editar", edit_tower_apartment_path(@tower, apartment) %></td>
      <td><%= link_to  "Agregar", new_tower_apartment_path %></td>
      <td><%= link_to "Eliminar", tower_apartment_path(@tower,apartment),method: :delete, data:{confirm:"estas seguro?"} %></td>
          
    </tr>
  <% end %>
</table>