<h1>Editar Registro De Citas</h1>

<%= form_for @appointment do |t| %>
  <p>
    <%= t.label :day, "Dia De Cita" %><br>
    <%= t.text_field :day %>
  </p>

  <p>
    <%= t.label :hour, "Hora De Cita" %><br>
    <%= t.text_field :hour %>
  </p>

  <p>
    <%= t.submit "Actualizar Datos" %>
  </p>
<% end %>
