<h1>Citas Actuales</h1>

<table>
  <tr>
    <td><strong>Dia De La Cita</strong></td>
    <td><strong>Hora</strong></td>
  </tr>
<% @appointments.each do |appointment| %>
  <tr>
    <td><%=   appointment.day %></td>
    <td><%= appointment.hour %></td>
    <td><%= link_to "Editar  ---" , edit_appointment_path(appointment) %></td>
    <td><%= link_to "Registra Cita  ---", new_appointment_path(appointment) %></td><br>
    <td><%= link_to "Eliminar Cita", appointment_path(appointment), method: :delete, data:{confirm:"Desea Eliminar Los Datos?"} %></td>
  </tr>
<% end %>
</table>
