<h1>Editar Datos Ciudadela</h1>

<%= form_for @welcome do |t| %>

	<p>
		<%= t.label :guest "Huesped" %>
		<%= t.text_field :guest %>
	</p>

	<p>
		<%= t.label :janitors "Portero" %>
		<%= t.text_field :janitors %>
	</p>

	<p>
		<%= t.label :towers "Torres" %>
		<%= t.text_field :towers %>
	</p>

	<p>
		<%= t.label :guest "Huesped" %>
		<%= t.text_field :guest %>
	</p>

	<p>
		<%= t.label :guest "Huesped" %>
		<%= t.text_field :guest %>
	</p>

	<p>
		<%= t.label :guest "Huesped" %>
		<%= t.text_field :guest %>
	</p>