<p id="notice"><%= notice %></p>

<h1>Listing Uvas</h1>

<table>
  <thead>
    <tr>
      <th>Nameuva</th>
      <th>Address</th>
      <th>Commune</th>
      <th>Phone</th>
      <th>Manager</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uvas.each do |uva| %>
      <tr>
        <td><%= uva.nameUva %></td>
        <td><%= uva.address %></td>
        <td><%= uva.commune %></td>
        <td><%= uva.phone %></td>
        <td><%= uva.manager %></td>
        <td><%= uva.email %></td>
        <td><%= link_to 'Show', uva %></td>
        <td><%= link_to 'Edit', edit_uva_path(uva) %></td>
        <td><%= link_to 'Destroy', uva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uva', new_uva_path %>
